/* Styles de base pour le conteneur */
h2 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles pour le texte */
  strong {
    color: #2c3e50;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  
  /* Message d'erreur */
  .error {
    color: #e74c3c;
    background-color: #f2dede;
    padding: 10px;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  /* Style pour le message "Aucun équipement trouvé" */
  p {
    text-align: center;
    color: #7f8c8d;
    font-family: 'Arial', sans-serif;
  }
  
  /* Style pour le conteneur des équipements */
  li:hover {
    background-color: #ecf0f1;
    cursor: pointer;
  }
  
  li strong {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Ajout d'une transition pour les effets visuels */
  li {
    transition: background-color 0.3s ease;
  }
  
  /* Style pour le conteneur principal */
  div {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  