<div>
    <h2>Liste des Équipements</h2>
    
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="equipements.length > 0; else noData">
      <ul>
        <li *ngFor="let equipement of equipements">
          <strong>Nom:</strong> {{ equipement.nome }} <br>
          <strong>Description:</strong> {{ equipement.description }} <br>
          <strong>État:</strong> {{ equipement.etat }}
          <!-- Ajoutez d'autres champs ici selon votre modèle -->
        </li>
      </ul>
    </div>
  
    <ng-template #noData>
      <p>Aucun équipement trouvé.</p>
    </ng-template>
  </div>
  