<div class="container">
  <button class="add-account-btn"><a routerLink="/dashboard/createEquipments">Equipement</a></button>
  <h2>Liste des Équipements</h2>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <table *ngIf="equipements.length > 0; else noData" class="equipment-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>État</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipement of equipements">
        <td>{{ equipement.nom}}</td>
        <td>{{ equipement.description }}</td>
        <td>{{ equipement.etat }}</td>
        <td class="actions">
          <button class="edit-btn">Modifier</button>
          <button class="delete-btn" *ngIf="equipement.idEquipement" (click)="deleteEquipement(equipement.idEquipement!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <p>Aucun équipement trouvé.</p>
  </ng-template>
</div>
