<div class="sidebar" [class.active]="isSidebarOpen">
  <div class="logo">
    <!-- <img src="assets/images/logo.png" alt="Logo"> -->
  </div>
  <ul>
    <li><a href="/dashboard/">Home</a></li>
    <li><a routerLink="/dashboard/user">User</a></li>
    <li><a href="/dashboard/technicien">Technicien</a></li>
    <li><a href="/dashboard/equipements">Equipement</a></li>
    <li><a href="/dashboard/panne">Panne</a></li>
  </ul>
  <div class="logout">
    <a href="#">Log out</a>
  </div>
</div>

<!-- Button for mobile view -->
<div class="menu-toggle" (click)="toggleSidebar()">☰</div>
